<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

<div class="container">
    <div id="todo" style="width: 200px">
        <p>Список задач</p>
        <form>
            <div class="form-group">
                <input
                        type="text"
                        class="form-control"
                        :placeholder="inputPlaceholder"
                        :value="inputValue"
                        @input="InputValueChanged"
                />
            </div>
            <div class="form-group">
                <textarea
                        class="form-control"
                        :placeholder="textareaPlaceholder"
                        :value="textareaValue"
                        @input="TextareaValueChanged"
                ></textarea>
            </div>
        </form>
        <br />
        <br />
        <button class="btn btn-default" @click="AddTask">Add Task</button>

        <br />
        <br />
        <br />
        <br />

        <ul class="list" v-if="notes.length !== 0">
            <li v-for="(note, index) in notes">
                <p>Title: {{ ToUpperCase(note.title) }}</p>
                <p>Description: {{ note.text }}</p>
                <button
                        class="btn btn-default"
                        @click="RemoveTask(index)"
                >Remove Task</button>
            </li>
        </ul>
        <div v-else>Задач пока нет!</div>
        <p>2 x количество задач: {{ doubleCountComputed }}</p>
    </div>
</div>

<script>
    const ToDo = {
        data() {
            return {
                inputPlaceholder: 'Task title',
                textareaPlaceholder: 'Task description',
                inputValue: '',
                textareaValue: '',
                notes: []
            }
        },
        methods: {
            InputValueChanged: function (event) {
                this.inputValue = event.target.value;
            },
            TextareaValueChanged: function (event) {
                this.textareaValue = event.target.value;
            },
            AddTask: function () {
                if (this.inputValue === '' || this.textareaValue === '') {
                    alert('Please fill the fields!');
                    return true;
                }

                this.notes.push({
                    title: this.inputValue,
                    text: this.textareaValue
                });

                this.RemoveValueFromInput();
                console.log('Added task to list!');
                console.log(this.notes);
            },
            RemoveValueFromInput: function () {
                this.inputValue = '';
                this.textareaValue = '';
            },
            RemoveTask: function (index) {
                this.notes.splice(index, 1);
                console.log('Removed task from list!');
                console.log(this.notes);
            },
            ToUpperCase: function (item) {
                return item.toUpperCase();
            }
        },
        // This is called when array notes is changed
        computed: {
            doubleCountComputed: function () {
                return this.notes.length * 2;
            }
        }
    }

    Vue.createApp(ToDo).mount('#todo')

</script>


</body>
</html>
